
/bark_disease_identification_service/dataset
/bark_disease_identification_service/testdata
/bark_disease_identification_service/venv
/nutrition_deficiencies_and_leaf_diseases_identification_service/dataset
/nutrition_deficiencies_and_leaf_diseases_identification_service/venv
/severity_prediction_and_remedy_recommendations_service/testdata
/severity_prediction_and_remedy_recommendations_service/leaf_gall_yolo_file
/severity_prediction_and_remedy_recommendations_service/leaf_blight_yolo_file