
/bark_disease_identification_service/dataset
/bark_disease_identification_service/testdata
/bark_disease_identification_service/venv
/nutrition_deficiencies_and_leaf_diseases_identification_service/dataset
/nutrition_deficiencies_and_leaf_diseases_identification_service/venv